name: Build JAR

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Make build.sh executable
        run: chmod +x ./build.sh || true

      - name: Run build script
        run: |
          ./build.sh

      - name: Upload dist.jar
        uses: actions/upload-artifact@v4
        with:
          name: dist-jar
          path: dist.jar
